.page{
    background-color:map-get($map: $pagebackground, $key:page );
}

.page1{
    background-color:map-get($map: $pagebackground, $key:page1 );
}

.page2{
    background-color:map-get($map: $pagebackground, $key:page2 );
}
.page3{
    background-color:map-get($map: $pagebackground, $key:page3 );
}

.page4{
    background-color:map-get($map: $pagebackground, $key:page4 );
}
.page5{
    background-color:map-get($map: $pagebackground, $key:page5 );
}

.page6{
    background-color:map-get($map: $pagebackground, $key:page6 );
}


.bgjesus{
    background-image:url(../../assets/img/bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .bgjesus1{
    @extend.bgjesus;
    background-image:url(../../assets/img/bg2.jpeg);
    }

    .bgjesus2{
    @extend.bgjesus;
    background-image:url(.../../assets/img/bg3.jpg) ;
}

.bgjesus3{
    @extend.bgjesus;
    background-image:url(../../assets/img/bg4.jpg) ;
}

.bgjesus4{
    @extend.bgjesus;
    background-image:url(../../assets/img/bg5.jpg) ;
}
.bgjesus5{
    @extend.bgjesus;
    background-image:url(../../assets/img/bg6.jpg) ;
}

   /* animaciones */
   main{
    // animation-name: main_background;
    // animation-iteration-count: infinite;
    // animation-timing-function: ease-out;
    // animation-duration: 13s;
    animation-delay: 10s; 
    
    @keyframes main_background{
        0%{background-image: url(../../assets/img/img1.jpg);
            color:aliceblue;
        }
        25%{background-image: url(../../assets/img/img2.jpg);
        color:white}
        50%{background-image: url(../../assets/img/img3.jpg);
        color:azure}
        75%{background-image: url(../../assets/img/img4.jpg);
        color:white}
        100%{background-image: url(../../assets/img/img5.jpg);
        
        color: aliceblue;}
    }
    }
    
    // #logo:hover{
    // animation:transparencia 3s;
    // transform: scale(1.2,1.2);
    
    // @keyframes transparencia{
    //     0%{opacity: 1; }
    //     10%{opacity: .75;}
    //     20%{opacity: .50;}
    //     30%{opacity: .25;}
    //     40%{opacity: 0;}
    //     50%{opacity: .25;}
    //     60%{opacity: .50;}
    //     70%{opacity: .75;}
    //     80%{opacity: 1;}
    //     100%{opacity: 1;
    
    // }
    
    // }
    
    // } 
    
    #logo:hover{
        animation-name: animation1;
        animation-iteration-count: 1 ;
        animation-timing-function: ease-out;
        animation-duration: 4s;
        transform: scale(1.2,1.2);
    
        @keyframes animation1{
    
            from {
                opacity: 0;
            }
            15%, 45% {
                opacity: .15;
            }
            25%, 75% {
                opacity: .35;
            }
            to {
                opacity: 0;
            }
        }
    }
    
    header nav div a:hover{
        transform: translate(-20px,5px);
        }
        
    footer ul li:hover{
            transform: translate(0px,15px);}

    i:hover{
        color:blue;
        }





    p {
    animation-duration: 1s;
        animation-name: slidein;

@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%
        }
    to {
        margin-left: 0%;
        width: 100%;
        }
    }
    }